.buildAdvancedChatbots,
.visually {
  margin: 0;
}
.buildAdvancedChatbotsContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 86.4px;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(90deg, #4b83ff, #b794f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  max-width: 100%;
}
.heading1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 1000px;
  text-align: center;
  font-size: 72px;
  font-family: var(--font-outfit);
  padding: 0 1rem;
}
.anywhereOnYour,
.typebotGivesYou {
  margin: 0;
}
.typebotGivesYouContainer {
  position: relative;
  line-height: 30px;
}
.container {
  background: url("/assets/bg_images/hero_left_obj.svg"),
    url("/assets/bg_images/hero_right_obj.svg");
  background-repeat: no-repeat;
  background-position: left center, right bottom;
  width: 1440px;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 14px;
  box-sizing: border-box;
  max-width: 800px;
}
.createAFormbot {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: #fff;
  white-space: pre-wrap;
  text-align: left;
}
.link {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  border-radius: 6px;
  background-color: #1a5fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 21px 32px;
  box-sizing: border-box;
  min-width: 48px;
  white-space: nowrap;
}
.container,
.container2 {
  display: flex;
  justify-content: flex-start;
}
.container2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  align-items: flex-start;
}
.container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 80px var(--padding-xl) 0;
  box-sizing: border-box;
  gap: 24px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.92);
  font-family: var(--font-open-sans);
}
